.catalog-dropdown {
    display: flex;
    // justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    min-width: 680px;
    padding: 30px;
    height: 100%;
}

.catalog-aside {
    // flex: 1;
    max-width: 368px;
    border-right: 1px solid rgba(226, 229, 242, 1);
    padding-right: 25px;
}

.catalog-section {
    border-bottom: 1px solid rgba(226, 229, 242, 1);
    // padding: 25px 0;
    margin-bottom: 25px;
    &:last-child {
        border: none;
    }
}
.show-more {
    color: #e31e24 !important;
    font-size: 14px;
}

.dropdown-toggle {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    text-align: left;
    background: #de002b;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    width: 308px;
    cursor: pointer;
    margin-bottom: 15px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    .dropdown-item {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
        text-align: left;
        color: #16161f;
        padding: 10px 15px;
        border-radius: 6px;
        text-decoration: none;
        &:hover {
            color: #de002b;
            background: rgba(222, 0, 43, 0.1);

            span {
                color: #de002b;
            }
        }
        span {
            color: rgba(142, 149, 166, 1);
        }
    }

    .dropdown-item {
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease,
            top 0.3s ease;
        top: 90%; /* Starting position */
    }

    .dropdown-item._active {
        opacity: 1;
        visibility: visible;
        top: 100%; /* Final position */
    }
}

.catalog-content {
    padding-left: 25px;
    display: none; /* Hidden by default */
    &.visible {
        display: block;
    }
    .catalog-content__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 23.87px;
        text-align: left;
        color: rgba(22, 22, 31, 1);
        margin-bottom: 10px;
    }
    .catalog-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .catalog-list__link {
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.09px;
            text-align: left;
            color: rgba(22, 22, 31, 1);
            text-decoration: none;
            padding: 8px 10px;
            border-radius: 6px;
            max-width: 225px;
            &:hover {
                background: rgba(222, 0, 43, 0.1);
            }
        }
    }
}
