// Импортируем SCSS компоненты
@use "./components/_header.scss";
@use "./components/_banner.scss";
@use "./components/_popular-categories.scss";
@use "./components/_our-products.scss";
@use "./components/_news.scss";
@use "./components/_footer.scss";
@use "./components/_catalog.scss";
@use "./components/_city-select.scss";
@use "./components/_modal.scss";
@use "./components/_lang.scss";
@use "./components/_search-select.scss";
@use "./components/_recover-password.scss";

@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}
